
<h1 class="my-4">
  Criar
</h1>

<form action="/create" method="POST">
  <input type="text" class="form-control mb-2" name="skill_name" placeholder="Nome">
  <input type="text" class="form-control mb-2" name="skill_level" placeholder="Nível">
  <input type="text" class="form-control mb-2" name="skill_description" placeholder="Descrição">
  <button type="submit" class="btn btn-primary mb-2">Criar</button>
</form>

<a href="/skills">Retornar</a>