
<h1 class="my-4">
  Skills
</h1>

<h2>
  <a href="/create">Criar</a>
</h2>

{{#each skills }}
  <a href="/skill/{{id}}">
    <h3 class="mt-5">{{name}}</h3>
    <h4>{{level}}</h4>
    <p>{{description}}</p>
  </a>
{{/each}}

<a href="/skills">Retornar</a>